html {
  scroll-behavior: smooth;
}
#play{
	background-image: url('ma1.jpg');
}

.disable{
   cursor: not-allowed;
   pointer-events: none;
}
body{
	
	height: 100%;
	width: 100%;
}
.wrapper{
	padding:20px;
	height:auto;
	width: 100%;

}
footer{
	bottom:0;
	left:0;
	position:relative;
	width: 100%;	
	margin-top:120px;
	height: auto;

}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
ul > *{
	margin:inherit;
}
li{
	display:inline;

}

.bungee_letra{
	font-family: 'Bungee', cursive;
}
.roboto_letra{
	font-family: 'Roboto', sans-serif;
}
.oswald_letra{
	font-family: 'Oswald', sans-serif;
}
.karla_letra{
	font-family: 'Karla', sans-serif;
}
.baloo-thambi_letra{
	font-family: 'Baloo Thambi', cursive;
}
.righteous_letra{
	font-family: 'Righteous', cursive;
}
.sizeLetter_130{
	font-size: 130px;	
}
.sizeLetter_60{
	font-size: 60px;
}
.sizeLetter_25{
	font-size: 25px;
}

.toDisplayNone{
	display:none;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.attachToBottom{
	
	bottom:0;
}
#ICDiv{
	float:left;
}
/*#CPDiv{
	float:left;
}*/
#mailSuscriberDiv{
	float:right;
	
}
#SCIconToHover{
	border-radius: 10px;
	height: 60px;
	width: 60px;
}
#SCIconToHover:hover{
	/*Animation of the Social Media Icons!*/
	-webkit-transform:scale(1.1,1.1) ; /* Safari and Chrome */
    -moz-transform:scale(1.1,1.1) ; /* Firefox */
    -ms-transform:scale(1.1,1.1) ; /* IE 9 */
    -o-transform:scale(1.1,1.1) ; /* Opera */
     transform:scale(1.1,1.1) ;

    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition:transform 0.3s ease-in-out;
    -ms-transition:transform 0.3s ease-in-out;
    
}
.hvr-grow:hover{
	-webkit-transform:scale(1.1) ; /* Safari and Chrome */
    -moz-transform:scale(1.1) ; /* Firefox */
    -ms-transform:scale(1.1) ; /* IE 9 */
    -o-transform:scale(1.1) ; /* Opera */
     transform:scale(1.1) ;

    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition:transform 0.3s ease-in-out;
    -ms-transition:transform 0.3s ease-in-out;
}
#IconToHover:hover{
	/*Animation of the Social Media Icons!*/
	-webkit-transform:scale(1.1) ; /* Safari and Chrome */
    -moz-transform:scale(1.1) ; /* Firefox */
    -ms-transform:scale(1.1) ; /* IE 9 */
    -o-transform:scale(1.1) ; /* Opera */
     transform:scale(1.1) ;

    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition:transform 0.3s ease-in-out;
    -ms-transition:transform 0.3s ease-in-out;
}
/*FlexBox to the Main Upper Navigation Bar*/
.flexNavigationBar{
	display:flex;
	justify-content: space-around;

}
.flexNavigationBar li {
	flex:auto;
	text-align:center;
}

#buttonSet{
	position:relative;
	width:100%;
	content: "";
    clear: both;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin-top:70px;

}
#buttonSet > *{
	float:left;
	margin:20px;
}
.stick2Bottom{
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:1;
}
.stick2Bottom button{
	
	border-radius: 20px;
	border: 5px solid #572183;
	height: 100px;
	width: 250px;
	font-size: 30px;
	background-color:white;
	margin:20px;
	font-family: 'Bungee', cursive;
	bottom:10px;
	right:10px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
input[name="timesQuest"]{
	font-family: 'Bungee', cursive;
	font-size:20px;
	
	
}
.stick2Bottom:hover button{
	color:#0E7FA4FF;
	background-color:#00FF79FF;
}
#HiddenText{
	display:none;
	text-align:center;
}
#selectedSign{
	display:none;
	text-align:center;
	color:green;
	margin:auto;
	position:relative;
	z-index: 1;
	
}
.showText{
	width:100%;
}

/*Para suscribirse en el NEWSLETTER DEL EMAIL*/
#inputMail{
	width: 100%;
	border-radius: 5px;
	text-indent: 2%;
	border: none !important;
	box-sizing: border-box;
	font-size: 16px;

}
#mailSuscriberSubmitBtn{
	margin-top:10px;
	width: 100%;


	text-decoration: none;
	border-radius: 35px;
	border: 5px solid #113940;
	background-color: transparent;
	
	height: auto;
	padding:6px;
	font-size:15px;
}
/* ----------------------------------*/
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.retrasoDeAnimacion_1{

	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay: 1s;
}

.retrasoDeAnimacion_1-5{

	-webkit-animation-delay:1.5s;
	-moz-animation-delay:1.5s;
	animation-delay: 1.5s;
}

.retrasoDeAnimacion_2{

	-webkit-animation-delay:2s;
	-moz-animation-delay:2s;
	animation-delay: 2s;
}

.button_style1{
	text-decoration: none;
	border-radius: 35px;
	border: 5px solid #113940;
	background-color: transparent;
	height: 2.5em;
	margin-bottom: 40px;
	width:auto;
	height: auto;
	padding:6px;
	font-size:27px;

}
.button_style2{
	text-decoration: none;
	border-radius: 20px;
	border: 3px solid #23E726;
	height:100px;
	width: 250px;
	font-size: 20px;
	background-color: transparent;
	font-family: 'Bungee', cursive;
	color: #3E3D40;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.button_style3{
	text-decoration: none;
	border-radius: 20px;
	border: 3px solid #572183;
	height: 100px;
	width: 250px;
	font-size: 20px;
	background-color: transparent;
	font-family: 'Bungee', cursive;
	color: #3E3D40;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.button_style4{
	text-decoration: none;
	border-radius: 20px;
	border: 3px solid #B60832;
	height: 100px;
	width: 250px;
	font-size: 20px;
	word-wrap: break-word;
	background-color: transparent;
	font-family: 'Bungee', cursive;
	color: #3E3D40;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);

}
/*Button_style5 is for the Game modes, changer of gamemode*/
.button_style5{
	border-radius: 20px;
	height: 50px;
	width: 150px;
	font-size: 21px;
	text-decoration: none;
	border: 2px solid #37E3AD;
	background-color: transparent;
	font-family: 'Oswald', sans-serif;
	box-shadow: none;

}
.button_MathaForum{
	border-radius: 20px;
	height: 60px;
	width: 160px;
	font-size: 20px;
	text-decoration: none;
	border: 2px solid #9838C6;
	background-color: transparent;
	font-family: 'Bungee', cursive;
	box-shadow: none;
	margin:30px;
	
}
.button_style6{
	text-decoration: none;
	border-radius: 20px;
	border: 3px solid #7F7F7F;
	height: 100px;
	width:auto;
	/*width: 250px;*/
	font-size: 20px;
	background-color: transparent;
	margin:30px;
	font-family: 'Bungee', cursive;
	color: #3E3D40;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.button_style7{

	border-radius: 20px;
	border: 5px solid #572183;
	height: 100px;
	width: 250px;
	font-size: 17px;
	background-color:white;
	margin:30px;
	font-family: 'Bungee', cursive;

}
.button_styleRound{
	font-family: 'Bungee', cursive;
	border-radius: 20px;
	font-size: 20px;
}
.button_stylefrmAsk{
	text-decoration: none;
	border-radius: 20px;
	border: 2px solid #7F7F7F;
	height: 50px;
	width: 170px;
	font-size: 20px;
	background-color: transparent;
	font-family: 'Bungee', cursive;
	
}
.button_styleFilter{
	text-decoration: none;
	border-radius: 20px;
	border: 2px solid #8200FF;
	height: 50px;
	width: 200px;
	font-size: 20px;
	background-color: transparent;
	margin:30px;
	font-family: 'Bungee', cursive;
}
.button_styleInput{
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	border: 0px solid;
	border: 3px solid;
	font-family: 'Bungee', cursive;
	font-size: 40px;
	color:#3FBF9D;
	border-radius: 4px;
	width:auto;
	height: auto;
}
#Jugar{
	font-size: 35px;
	text-decoration:none;
	font-family: 'Bungee', cursive;
	

}
#quoteDiv{
	margin-bottom: 100px; 
	width: 50%;
}
#nullTitle{
	font-size:40px;
	margin-top: 40px;
}
#forumNavBar{
	width: 100%;
	height: auto;
	margin-top:20px;
	display:table;
}
#forumNavBar > *{
	display:table-cell;

}
/*#forumNavBar h5, #filter{
	text-align:center;
}*/
.center{
	margin:auto;
	text-align:center;
}

#forumNavBar #IconToHover{
	float:left;
}
#forumNavBar button{
	float:right;
	position:relative;
	margin-right: 20px;
}
#forumNavBar{
	height: auto;
	width:100%;
	
}
#forumNavBar h5{
	font-family: 'Bungee', cursive;
	font-size: 30px;
}
/*
#forumNavBar :noFt(#IconToHover){ Excludes the Icon
	margin:20px;
	display:inline-block;
}
*/
#selectFilter{
	font-family: 'Bungee', cursive;
	width:170px;
	border-radius: 5px;
	font-size: 16px;
	margin:20px;
}
/*Form to insert data or question  MODAL BOX*/
.modalDesign{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10em;
}
#modal{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10em;

}
.modal-content {
	
    background-color: #289ED6;
    margin: auto;
    width: 80%;
}
.modal-header {
	font-size:30px;
	font-family: 'Bungee', cursive;
    padding: 2px 16px;
    text-align: center;
    width: 100%;
    background-color: #4BB1B3FF;
    margin-bottom:10px;
}

.close {
    color: ##707070FF;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin:10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modalSendBtn{
	width: 100%;
	padding: 20px;
	background-color: #7BA559FF;
	font-family: 'Bungee', cursive;
	border:none;
	font-size: 25px;
}
.modalSendBtn:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
span[name="spnTakeDeep"]{
	font-size:40px; 
	text-align: justify; 
	padding:40px;
}
span[name="spnDirections"]{
	font-size:20px; 
	padding:40px;
}
span[name="spnPreventWorry"]{
	
	font-size:20px; 
	padding:40px;
}
#reportBtn{
	float:right;
	margin-left: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	background-color: transparent;
	border-radius:6px;
	border: 2px solid #F40C0A;
}
#commentBtn{
	
	
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	background-color: transparent;
	border-radius:6px;
	border: 2px solid #1FDF3F;
}

#content{
	border-radius: 6px;
	/*border: 5px solid #27C0D7;*/
	padding:10px;
	display:none;
	word-wrap: break-word;

}
.divEachElementContainer{
	border: 5px solid #27C0D7;
	border-radius: 6px;
	word-wrap: break-word;
	padding:30px;
	margin-bottom: 20px;
}
/*#content form[name="commentFrm"]{
	margin-bottom: 10px;
	margin-top: 30px;
}*/

form[name="commentFrm"] input[name="name"]{
	width: 100px;
}

form[name="commentFrm"] input{
	margin: 10px;
}

form[name="commentFrm"] input[name="comment"]{

	width: 400px;
}

div[name="divItem"]{
	margin-top:30px;
	padding:10px;
	border-radius: 10px;
	border: 2px solid #5EB549;
	bottom:0;
}

#GameNavigationBar h5{
	font-family: 'Righteous', cursive;
	font-size: 17px;
	color:#5F5E68 ;

}
#Arrow2{
	width:280px;
	height: 180px;
	display:none;
}
#Right{
	color:green;
}
#Wrong{
	color:red;
}
#Right , #Wrong{
	font-family: 'Bungee', cursive;
	font-size: 65px;
	display:none;
}
#ResultAndGo h2{
	margin-top: 50px;
}
#Cifras{
	margin-top: 60px;
}
#Cifras h3{
	
	font-size: 70px;
	font-family: 'Baloo Thambi', cursive;
	color:#4C4C4C;
	
}

#UserInput {
	font-family: 'Bungee', cursive;
	border-radius: 3px;
	border: 2px solid;
}
#Result{
	margin-left: 40px;

}
#Result h2{
	font-family: 'Bungee', cursive;
	font-size: 70px;
	float: left;
}
#NxtProblem{
	display:none;
	margin-right: 60px;
	float:right;
}
#NxtProblem img{
	width:270px;
	height: 170px;
}
.FQATitles{
	margin-top: 60px;
	font-size: 8em; 

  
}
.titles{
	font-size: 100px;
}

#ShowFinish{
	display:none;
}
#ShowFinish h2{

	font-size: 90px;
	color: #1E79E0;
	margin-top: 30px;

}

#ShowFinish h3{
	margin-top: 1em;
	font-size: 40px;
	
}
#phrase h4{
	font-size: 30px;

}
.img-change{
	width: 800px;
	height: 438px;
}
#DescMath{
	padding-left:50px;
	padding-right: 50px;
	font-size: 30px;
}

#h1OfFeedBack{
	color:#BD330B;;
	font-size: 60px;
	
}
#FeedBackBox h3{
	font-family: 'Bungee', cursive;
	font-size: 20px;
	color:#7F7F7F;
}
#DataBox{
	margin-left:100px; 
	float:left;
}
#buttonToSubmit{
	text-align: center;
	text-decoration: none;
	height: 50px;
	width: 150px;
	background-color: #1ED7E0;
	border: 0px solid ;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

/*--------------------------------------*/

#MainTitleCustom{
	color: #982DD1;
	display:inline-block;
	font-size: 30px;
	margin-left: 50px;


}
#NProblem{
	display:inline-block;
	float:right;
	font-size:25px;
	margin-right: 30px;
}

#DescriptionCustom{
	font-size: 30px;
	font-family: 'Bungee', cursive;
	word-wrap: break-word;
	text-align:justify;
	padding:14px;
}
#FormulaDescriptionCustom{
	font-size:20px;
	font-weight:bold;
}

#divAnswerCustom{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size:25px;
}

.inputCustom{
	border-radius: 3px;
	border: 2px solid;
}
/*Fraction w/ Fraction with Mixed Numbers input*/
.divInputFractionCustom{
	position:relative;
	clear:both;
	display:inline-block;
	width:auto;
	margin-left:auto;
	margin-right:auto;	
	display:inline-flex;
	flex-direction:column;
	align-items: center;


}
.inputFractionCustom{
	border-radius: 3px;
	border: 2px solid;
	width: 100px;
	margin-bottom:5px;
	
}
/*---------------ANSWER SELECTOR ----------*/
.ansSelector{
	font-family: 'Bungee', cursive;
	width:100px;
	border-radius: 5px;
	font-size: 16px;
	margin:20px;
}
/*----------------------*/
#brInResponsive{
	display:none;
}

/*CheckBox Customization*/
.CheckBox {
	display:none;
	margin:auto;
}
.CheckBox + label span{
	display:inline-flex;
    width:30px;
    height:30px;
    margin:-2px 10px 0 0;;
    vertical-align:middle;
    border-radius:5px;
    border: 3px solid black; 
    background-color: #4BB1B3FF;
    cursor:pointer;
    
}
.CheckBox:hover + label span{
	background-color: #25BFD9FF;
}
.CheckBox:checked + label span{
	border-radius:5px;
    border: 3px solid black; 
	background: #4BB1B3FF url("checkmark.png") no-repeat;
	background-size: cover;
	
}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover{
  background-color: #2098D1;
  color: white;
}
.img-adjust{ /*to normal width*/
	width: 40%;
	height: auto;
	
}

@media only screen and (max-width: 768px) {



	#IconToHover{
		margin-bottom: 15px;
	}

	#SCIconToHover{
	-webkit-transform:scale(0.82) ; /* Safari and Chrome */
    -moz-transform:scale(0.82) ; /* Firefox */
    -ms-transform:scale(0.82) ; /* IE 9 */
    -o-transform:scale(0.82) ; /* Opera */
     transform:scale(0.82) ;
	}


	#ICDiv, #CPDiv{
		float:none;
	}

	/*--------------------------------------*/



	.img-change{
		width: 340px;
		height: 200px;
		margin-bottom: 30px;
	}

	#GameNavigationBar img{
		margin-right: 30px;
	}

	#GameNavigationBar h5{
		font-size: 25px;
	}

	#quoteDiv{
		width:80%;
	}

	#quote{ /*change size of quote if phone*/
		font-size:18px;
	}
	#quoteAuthor{
		font-size:16px;
	}

	/* ---------------------------------------- */
	
	#UserInput{
		height:70px;
		width: 130px;
		margin-left: 10px;
		font-size: 50px;
	}
		

	#sLogo{
		display:none;
	}


	/* ---------------------------------------- */

	#Cifras ul li {
		margin:10px;
	}

	#Cifras h3{
		font-size: 75px;
	}

	.button_styleInput{
		margin-top: 40px;
		font-size: 30px;
	}

	/* ---------------------------------------- */
	#Result{
		text-align:center;
		margin-left:auto;
	}
	#Result h2{
		font-size: 35px;
		float:none;
	}
	#NxtProblem{
		float:none;	
		margin:auto;
	}
	#NxtProblem img{
		height: 140px;
		width: 200px;
	}	

	/* ---------------------------------------- */
	span[name="spnTakeDeep"]{
	padding:10px;	
	font-size:20px;
	}
	span[name="spnDirections"]{
	padding:10px;
	font-size:15px;	
	}
	span[name="spnPreventWorry"]{
	padding:10px;
	font-size:15px;	
	}
	#buttonSet > *{
		width: 100%;
		text-align:center;
		margin:auto;	
	}
	.stick2Bottom{
		bottom:0;
		width:40%;
	}
	.stick2Bottom button{
		font-size:20px;
		height:100px;
		width: 150px;
		float:right;
	}
	input[name="timesQuest"]{
		float:right;
		margin-right:20px;
	}
	.button_style2, .button_style3, .button_style4, .button_style6{
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		margin:  10px;
		width:90%;
	}
	.button_MathaForum{
		margin: 30px;
		float:right;
	}
	.FQATitles{
		font-size: 2.8em;
	}
	

	#DescMath{
		padding-left: auto;
		padding-right:auto;
		font-size: 20px;
	}
	
	.titles{
		font-size: 50px;
	}

	/* ---------------------------------------- */

	#ShowFinish h2{
		font-size: 50px;
	}

	#ShowFinish h3{
	margin-top: 1.2em;
	font-size: 27px;
	}

	#phrase h4{
	font-size: 20px;
	}

	#phrase img{
		float:right;
		height: 120px;
		width: 120px;
		margin-top: 90px;
	}

	/* ---------------------------------------- */
	/*FeedBack Part*/


	#h1OfFeedBack{
		font-size: 30px;
		margin-top: 3px;
		color:#B945AAFF;
	}

	#FeedBackBox{
		margin-top:40px;
		margin-right: 5px;
		margin-bottom: 40px;
	}

	#FeedBackBox h3{
		font-size: 15px;
	}

	#FeedBackBox textarea{
		width: 90%;
		height: 100px;
	}

	/* -------------------------- */
	#forumNavBar > *	{
		display:block;
	}
	#forumNavBar form{
		margin-top: 60px;
	}
	#forumNavBar button{
		float:none;
		margin:auto;
		position: relative;
		font-size: 16px;
		width: 150px;
	}

	#selectFilter{
		font-size: 12px;
		
	}
	#slctArea{
		
		margin-top: 5px;
	}

	#postP{
		width: 70%;
	}
	#mforum h5{
	display: block;
	font-size: 25px;
	}

	#Jugar{
		font-size: 32px;
		float:right;
		
	}
	
	form[name="commentFrm"]{
		margin-top: 10px;
	}

	form[name="commentFrm"] input[name="name"]{
		width:95%;
	}

	form[name="commentFrm"] input[name="comment"]{

	width: 95%;
	}

	form[name="commentFrm"] label{
	display:block;
	}

	form[name="commentFrm"] input{
	margin: 5px;

	}

	/*-----------------------*/

	.inputCustom{
		width:90%;
		height: 40px;
		font-size: 35px;
	}

	#brInResponsive{
		display:block;
	}

	#btnAnswer{
		margin-top: 20px;
		width: auto ;

	}
	#DescriptionCustom{
		font-size: 25px;
	}

	.sizeLetter_25{
		font-size: 18px;
	}

	#divAnswerCustom{
		margin-top: 30px;

	}
	#divAnswerCustom label{
		font-size:20px;
	}
	#Right , #Wrong{
	
	font-size: 40px;
	
	}
	#Arrow2{
		width:200px;
		height: 140px;
	}
	.img-adjust{
		width: 100%;
		height: auto;
	}


}

@media only screen and (max-width: 992px){

	.sizeLetter_25{
		font-size: 20px;
	}

	#GameNavigationBar h4{
		display: none;
	}

}



